[2017-07-10 18:22] seeden opened #2 "import error"
When I use next import I can see error and my build will fail
[code]

[code]

But when I change quiz => quizQuery evrything is fine.

[code]

I have really no idea what is wrong with names. I have same error across whole project.

[2017-07-17 01:31] RevelsGit opened #3 "provide raw query"
`graphql-tag/loader` with webpack provides raw query in `loc.source.body` and this plugin does not. It can be useful if you need to pass a query to `graphql` function.
Example:
[code]

[code]

I can do that with `fs.readFileSync('./myQuery.graphql', 'utf8');` but it just feels clunky.

[2017-07-21 08:48] bs1180 commented on #2
I'm also seeing exactly this error, but it's extremely hard to pin down and I can't even reliably repeat it. I did notice adding any statement resolves the problem - could it be some sort of race condition?

Throws error:
[code]

Doesn't throw:
[code]

I'm using next.js, and my .babelrc is very simple:
[code]

Thanks for any help.

[2017-07-21 17:10] detrohutt commented on #3
@RevelsGit I raised an issue on graphql-tag. I'll get this added as soon as I figure out the best way to do it.

[2017-07-21 17:14] detrohutt commented on #2
Unfortuately I have no idea how to fix this. This project was my first attempt at working with babel plugins so I'm not very familiar with the concepts.

I will say someone else reported another issue with the same error message to me. In his case, it happened when he added a blank line before one of his import statements. I was unable to reproduce that error on my end though.

Anyone more knowled

[2017-07-22 17:33] #3 closed

[2017-07-22 17:51] detrohutt commented on #3
Should be good to go once you upgrade to v2.0.0!

[2017-07-22 18:31] detrohutt commented on #2
If you guy want to try upgrading to v2.0.0, it may fix the problem. I didn't do anything to purposely fix it but I pretty much completely rewrote the plugin so I may have inadvertently fixed the bug.

[2017-07-28 09:31] real34 commented on #2
I am still facing the same issue with the latest release. It does not seem to be fixed. I will try to investigate more too an see if I can bring more information.

[2017-07-28 09:35] TAQ2 commented on #2
i was having a similar problem and i think i have fixed it. You basically need a env set for production in your babel rc. Take a look at mine:
[code]

not sure if you are experiencing the same issue but let me know if this works for you :)

[2017-07-28 09:47] real34 opened #4 "Fragment nesting and deduplication"
I have been facing issues when loading several fragments across files.

Inline works fine however I found the following limitations:
* fragments are not imported recursively
* the same fragment is inlined multiple times, causing issues with Apollo for instance (a fragment name "xxx" has already been defined)

I tried to start working on it to understand how it worked and solved issues as I found t

[2017-07-28 12:23] detrohutt commented on #4
Thanks for bringing this up. I had actually meant to address this in 2.0.0 but I forgot. There is deduplication code recently added to the webpack loader this is based off of and that code can probably be used pretty much verbatim. I'll try adding it today and making a beta release for you to try out.

[2017-07-28 16:16] detrohutt commented on #4
@real34 I've published 2.0.1-beta.0 .. You can grab it with `yarn add -D babel-plugin-inline-import-graphql-ast@beta`

I've only attempted to fix the dedupe issue so far. Let me know if that part is working properly for you now. If it is, I'll work on the recursive importing next and push another beta.

[2017-07-29 02:01] detrohutt commented on #4
Here's what I'm getting. It's pretty much the same for all tests... the only difference I'm seeing is at the very end the snapshot has "GraphQL request" and mine has just "GraphQL":
![](https://puu.sh/wVQEC/f58b352add.png)

[2017-07-31 14:38] bs1180 commented on #2
Unfortunately it's still reoccurring with the new version, and the suggestion by TAQ2 hasn't worked either. Happy to experiment with other possibilities, if there are any suggestions?

[2017-08-04 06:21] detrohutt commented on #4
@real34 I've published 2.0.1-beta.1 .. You can grab it with `yarn add -D babel-plugin-inline-import-graphql-ast@beta`

It passed your tests on my machine. Let me know how it works for you.

Note: For now, I left out the `sourceResolver` option you added to your repo. If that's something you really need let me know what it's for and I can probably include it here.

[2017-08-04 07:30] real34 commented on #4
Thanks for your responsiveness!
It looks great, and much more cleaner than my implementation!

The `sourceResolver` is the configured `babel.moduleResolver` that could have been configured by the user or a plugin. In my use case, I implemented a custom babel plugin to resolve themes with fallbacks (e.g: importing `./Foo.js` from `/path/to/base/index.js` could resolve to `/path/to/theme/Foo.js` if

[2017-08-04 09:11] detrohutt commented on #4
Thanks for explaining. That seems like a reasonable use case so I'll add the sourceResolver option later today.

The sample repo you mentioned will be very useful and as soon as you get it up I'll do my best to find a solution that covers all your use cases.

I had also wondered about the purpose of this.cacheable() in the file you linked to. You may be right.

Thanks for providing those test case

[2017-08-04 09:49] detrohutt commented on #4
@real34 I also just had an idea that may or may not be useful(I'm pretty sleepy lol).. perhaps I could offer the option of runtime parsing instead of inlining. When the option is enabled, instead of running `gql` from within the plugin, it would replace the user's `import` statement with a call to `gql`(instead of an AST object as it does now). When processing fragments, it would "inline" them int

[2017-08-04 15:40] detrohutt commented on #2
@bs1180 I'm still not sure why this is happening, but I've got some time to investigate now. I'm considering adding a `runtime: true` option for runtime parsing(more detail [here](https://github.com/detrohutt/babel-plugin-inline-import-graphql-ast/issues/4#issuecomment-320207714)) which *may* help. If it's because of a race condition as you mentioned, it probably won't help since there will still

[2017-08-04 17:22] detrohutt commented on #2
@seeden If you can provide a reproduction repo of your error, I'll be glad to take a look and try to fix it. Sorry for the long wait.

[2017-08-04 20:11] real34 commented on #4
Of course for the tests! I don't have much time these days (holidays with family) but I initially wanted to do a clean PR with the tests / fixes, so feel free to reuse them!

Regarding runtime parsing, it could be useful but I don't know graphql-tag well enough to see if it would solve the issue or not.

PS: I might not be able to find time for the sample repo tomorrow, so it might be only for Sun

[2017-08-05 18:22] detrohutt commented on #2
@seeden @bs1180 I've created an [example project](https://github.com/detrohutt/repros/tree/master/babel-plugin-inline-import-graphql-ast/2) where I attempted to recreate the errors you guys were getting, but I'm not getting an error in either case.

I named my query import the same as the file name([seeden's case](https://github.com/detrohutt/repros/blob/master/babel-plugin-inline-import-graphql-a

[2017-08-05 22:09] detrohutt opened #5 "Resolver option"
I'm going to allow the option of assigning a custom resolver function to be used in place of `path.resolve()` for people who want to use something like [babel-plugin-module-resolver](https://github.com/tleunen/babel-plugin-module-resolver) or their own implementation.

[2017-08-05 22:11] detrohutt commented on #5
@real34 Can you tell me what resolver you are using? Did you write it yourself? Can you share what your babel options look like?

[2017-08-06 01:05] detrohutt commented on #4
@real34 I may have fixed the deduplication bug.. it will now cache fragment names only from the current import instead of the current run. I believe this is the desired behavior. It's 2.0.1-beta.2. Grab it and let me know if that works for you.

[2017-08-06 04:04] real34 commented on #4
@detrohutt Well spotted! It seems to solve the issue in the sample project I created to reproduce the issue https://github.com/real34/tmp-babel-inline-gql-issue4/commits/master (see commit history: in beta1 it is broken, but works in latest)

I will now try the beta against my bigger codebase and let you know if it is all green too!

[2017-08-06 05:11] real34 commented on #4
Good news, it _almost_ works on the bigger codebase :tada: (I manually patched the built file to add the `sourceResolver` for babel resolvers)

I still see 2 errors of duplicated fragments. It may be related to a remaining issue with recursive fragment imports (fragments importing other fragments). `subFragments` may not be properly deduplicated.

In my case I have a `Layout` containing a `CmsBloc

[2017-08-06 05:17] detrohutt commented on #4
It's ok I'm about to go to bed anyway. Thanks again for all your help. With all this info I should be able to squash this bug pretty soon, hopefully tomorrow.

[2017-08-06 15:22] detrohutt commented on #4
@real34 I made a change that may help. The deduplication was only being applied to imported fragments, but now it will also dedupe fragments embedded in the top-level query. It was an oversight that needed to be corrected even if it doesn't help in your case. It's 2.0.1-beta.3.

[2017-08-07 11:50] seeden commented on #2
Hi @detrohutt

I tried your latest version 2.0.0 and I can see same error.

[code]

Next works
[code]

[code]

[2017-08-07 13:41] detrohutt commented on #2
@seeden I have still failed to reproduce this error. I have tried on Linux and Windows. I'm starting to suspect it is a problem with babel and not with my plugin. What operating system are you using and what version of babel-cli?

[2017-08-07 13:43] seeden commented on #2
I have same problem on my Mac and Ubuntu as well.
Here is my versions:

[code]

and .babelrc

[code]

[2017-08-07 13:47] detrohutt commented on #2
Thanks, I'll try to use the same .babelrc.. That is the same version of babel I was using.

[2017-08-07 17:28] detrohutt commented on #2
Ok, good news. I was finally able to reproduce the bug. This was the only way I was able to reproduce it:
1. Have exactly 3 `import` statements with blank lines between each
2. Name the import the same as the imported filename(without extension)
3. Have `export default` statement immediately after the last `import`(and blank line)

For Example:
[code]

In my case there were several different worka

[2017-08-08 03:40] detrohutt commented on #2
@seeden @bs1180 @real34 I *think* I fixed it! Try upgrading to `2.0.1-beta.4` and let me know if it works for you.

[2017-08-08 04:50] real34 commented on #5
This is a custom resolver.

Here is an example of a resolver you can use for testing purposes:

[code]

Usage in `.babelrc`:

[code]

[2017-08-08 05:23] real34 commented on #5
I pushed a test case in https://github.com/real34/tmp-babel-plugin-inline-import-graphql-ast/commit/29ee949fb817615bd61553d01e55af11baf2d19f to illustrate how it should work.

However the test is not generating a snapshot because I have not found a way to include the plugin before this one in the test case... (I opened https://github.com/babel-utils/babel-plugin-tester/issues/18 to track this issu

[2017-08-08 05:47] real34 commented on #4
@detrohutt Awesome! It seems to have fixed the latest remaining issue! Thank you.

May I let you close the issue whenever you feel it's done for you?

[2017-08-08 05:49] detrohutt commented on #4
Yeah I'll close it once a couple more people have used the beta and verified nothing breaks

[2017-08-08 05:59] real34 commented on #2
@detrohutt not for me. Here is an example of file with the issue when removing the comment line https://gist.github.com/real34/851e9c210a90772368424658f9494353#file-gallery-js-L58

I have 3 files in error, and every time adding a comment line before the call to the enhancer (like in the example above) solve the issues.
Below other examples with just this part:

[code]

and

[code]

[2017-08-11 14:26] edwardaa commented on #4
works for me :)

[2017-08-22 14:17] rngadam commented on #2
Saw the same error, added a comment before client.query and started working again...

[2017-08-22 16:12] FredyC opened #7 "TransformError with React Native"
I am using the plugin for my React Native project. So far everything is working just fine, but today I run into one of the most peculiar issues ever. I have a `mutations` folder with every mutation in separate `.graphql` file. Then there is `index.js` file with the following content.

[code]

This fails with `TransformError: Cannot read property 'type' of undefined` 😕

Now the funny part ... if I

[2017-08-23 03:12] real34 commented on #7
Hi @FredyC, it seems to be the same than #2 ... a very weird issue indeed with unbelievable workarounds :/

[2017-08-23 05:14] detrohutt commented on #7
@FredyC @real34 I just pushed a new release candidate - 2.0.1-rc.1 - a few minutes ago. Try using that and let me know if it works for you.
`yarn add babel-plugin-inline-import-graphql-ast@beta`

[2017-08-23 05:47] detrohutt commented on #2
@rngadam try using the new version I just released and see if that works any better. It's version `2.0.1-rc.1`

[2017-08-29 20:32] FredyC commented on #7
@detrohutt So I tried latest beta, but unfortunately no luck. The worst part is the error message like this. It's impossible to find culprit. This has happened to me after cleaning all RN cache, restarted everything. Feels like there is parse error in one of graphql files, yet when I try to manually parse all of them with `graphql-tag` it works just fine. In this case the workarounds I mentioned e

[2017-08-30 06:55] FredyC commented on #2
I am still having issues (#7). Either way perhaps it could help to make the whole process more verbose by adding some [debug](https://www.npmjs.com/package/debug) log messages with some details (eg. what file it's parsing) so it's possible to track when it happens.

[2017-09-22 18:36] jjant commented on #2
I'm still experiencing this bug, has any solution been found?

[2017-09-23 21:06] detrohutt commented on #2
@jjant I just published version 2.0.1 to npm ... it's the same as 2.0.1-rc.2 so if you've already tried that, then it won't fix the issue. Hopefully it will though, because I'm pretty much out of ideas at this point. :/

[2017-09-23 21:17] FredyC commented on #2
@detrohutt I kinda gave you an idea ... https://github.com/detrohutt/babel-plugin-inline-import-graphql-ast/issues/2#issuecomment-325899983.

[2017-09-23 21:57] detrohutt commented on #2
@FredyC Fair enough. For the last month or so I've been focusing exclusively on learning C++ and working on a project in that. I'm not sure I want to "context switch" back to this project at the moment, but as soon as I pick this back up I'll add some debugging. In the meantime if you or anyone else is interested in making a PR to do that, I'll gladly accept it.

[2017-10-04 20:01] jjant commented on #2
Has anyone tried to fix this? Or can recommend an alternative?

[2017-10-09 22:11] dlredden opened #8 "Dependency on graphql is preventing use of newer version"
I'm digging this plugin, but it's pinned to GraphQL `^0.9.6` and when I update my project to something newer than that (i.e. 0.11.x) the project throws this lovely error "Error: Schema must be an instance of GraphQLSchema. Also ensure that there are not multiple versions of GraphQL installed in your node_modules directory."

I pulled the code and attempted to run the tests so I could upgrade the d

[2017-10-09 22:31] detrohutt commented on #8
Sorry the tests were just left over from the project i forked and i never updated them. How about if I changed it to a peerDependency of >=0.9.6 ?

[2017-10-09 22:52] dlredden commented on #8
That should do the trick

[2017-10-09 23:37] detrohutt commented on #8
Done. Published version `2.0.2`.

[2017-10-09 23:37] #8 closed

[2017-10-09 23:54] detrohutt commented on #2
Hey guys, please try the fix @vstepanyuk made by using `2.0.3-beta.0`/`@beta` from npm and let me know if this fixes the problem for any of you (or breaks anything).

[2017-10-10 09:54] TAQ2 commented on #2
i'm still seeing the same error :/

[2017-10-10 11:45] edwardaa commented on #2
me too,  error still exists.

[2017-10-10 12:04] vstepanyuk commented on #2
Can you share your examples?

[2017-10-19 19:56] gferreri opened #10 "doesn't work with babel-watch"
I'm using [babel-watch](https://www.npmjs.com/package/babel-watch) for developing my application. I start my app with the command

[code]

When I make a change to a `.gql` file, a restart is triggered, but the changes I made to the .gql file are not reflected when the app restarts. I have to kill the process and run the command again for `.gql` file changes to be included.

[2017-11-15 23:20] advance512 commented on #2
Happens to me too.

[2017-11-15 23:23] TAQ2 commented on #2
If I put a new line above the .graphql file, it works.

I think I found a weird bug with it. When I use auto format with [prettier](https://github.com/prettier/prettier) it seems to fail. I also wonder if its a problem with not using semi colons?

[2017-11-15 23:25] advance512 commented on #2
I just added newlines between the import statements and it works.

This does not work:
[code]

This works:
[code]

[2017-11-16 15:06] detrohutt commented on #2
@advance512 you can try the new beta version I just published. Please let me know whether or not that fixes it for you.

`babel-plugin-inline-import-graphql-ast@2.0.3-beta.1`

[2017-11-18 04:42] detrohutt commented on #2
did `2.0.3-beta.1` resolve this issue for anyone?

[2017-11-20 01:08] svsool commented on #2
Hi, for me it still doesn't work with `2.0.3-beta.1`.

This doesn't work:
[code]

It works:
[code]

[2017-11-23 12:58] real34 commented on #2
Hi, we managed to create a repository with a reproduction of this bug.

To reproduce:

* clone https://github.com/real34/tmp-babel-inline-gql-issue4
* `npm install && npm start`
* browse the app

We noticed the bug is related to the number of chars... See video below:

https://www.dropbox.com/s/dwcce8skh5eafus/screencast_00000.mp4?dl=0

We hope it will help!

[2017-11-23 16:39] advance512 commented on #2
Good job, @real34 !

[2017-11-23 17:25] detrohutt commented on #2
Thanks @real34 ! I’m not sure if I’ll get to it today since it’s thanksgiving here in the U.S. but I’ll get to work on it ASAP!

[2017-11-24 21:14] detrohutt commented on #2
@real34 I just published `babel-plugin-inline-import-graphql-ast@2.0.3-beta.2` which seems to fix it (on my machine at least).

[2017-11-26 15:41] edwardaa commented on #2
**2.0.3-beta.2** works for me, thanks :+1:

[2017-12-01 09:34] Tzelon opened #11 "New line/Space problems in processImports method"
I tried to copy some .grapql code from GitHub. but I got an error when trying to use the file.
[code]
debuggin the code I can see that the file looks like that
![image](https://user-images.githubusercontent.com/4432120/33476673-7611b43c-d68b-11e7-9d27-eefeff9d5398.png)
and after spliting the imports statements
![image](https://user-images.githubusercontent.com/4432120/33476691-8a96b876-d68b-11e7-8

[2017-12-01 13:24] detrohutt commented on #2
@edwardaa I tried yet another approach with `babel-plugin-inline-import-graphql-ast@2.0.3-beta.3`. Please let me know if that fixes the issue.

[2017-12-01 13:40] #11 closed

[2017-12-01 14:10] #4 closed

[2017-12-01 14:11] #5 closed

[2017-12-01 14:13] #7 closed

[2017-12-01 14:37] detrohutt commented on #10
Sometimes `BABEL_DISABLE_CACHE=1` doesn't seem to actually do anything. You would probably need to manually delete the node_modules/.cache folder on each restart. I usually do that in my npm start script with something like `rm -rf node_modules/.cache && babel-node index.js`. I'm not sure how you would accomplish that using `babel-watch`. Maybe you could do something like this:
[code]

In any case

[2017-12-01 14:37] #10 closed

[2017-12-03 02:48] edwardaa commented on #2
**2.0.3-beta.3** does not fix the issue.

[2017-12-21 06:14] bishalshr commented on #2
import * as TestQuery from '../queries/test.graphql';
This worked for me

[2017-12-23 22:02] eskimoblood opened #15 "Query string does not resolve the imports"
I try to use the tool to get my graphql files imported when running my tests. Unfortunately the `body` part is still the original one with the `import` statement, while I would assume it renders the imported fragments instead.

[2018-01-17 09:35] MatthieuLemoine commented on #2
I made a PR to `babel-generator` to fix this issue https://github.com/babel/babel/pull/7205.

I need some thumbups to make sure that a new version of Babel 6 will be released with this fix.

[2018-01-17 11:08] detrohutt commented on #2
Thank you very much @MatthieuLemoine  I regret I’ve not had the time to deal with this myself but I’ve been dealing with this bug pretty much every day in my current project and my codebase is littered with empty comments to accommodate it. I hope they will merge your pr and release for babel 6. I added a few reactions.

[2018-01-26 06:10] gihrig opened #16 "Seems to kill JSX processing?"
Using Next.JS/examples/with-apollo (Canary branch) as a demonstration project, I'm attempting to move the graphql 'allPosts' query to an external .gql file.

Having followed the instructions to implement this plugin, I'm getting an error that seems to suggest JSX processing is not happening:

[code]
I am using latest versions of node, babel, next, etc.
Should this work?
Have I made an error somewh

[2018-01-26 06:37] detrohutt commented on #16
@gihrig Unfortunately the internet is out at my house right now (using phone now) so I can’t look into this until probably tomorrow. I did publish a couple updates today so I may have broken something inadvertently. You can try locking the dependency in your package.json to 2.0.4 and reinstalling/downgrading the package. 2.0.4 seems to be pretty stable since it had been the latest version on npm f

[2018-01-26 07:10] gihrig commented on #16
Internet down... Ug, how annoying! 😦

I pinned at 2.0.4  - no change. I must have something wrong somewhere. I'll review my steps in the morning. If you could take a quick look that would be wonderful, if not, at least I know the problem is not latest dependency versions.

Thanks for the quick reply!

[2018-01-26 16:48] develomark opened #17 "`fs` error importing fragments - `illegal operation on a directory`"
I am getting the following `illegal operation on a directory` error:

[code]

### This works:
[code]

### this produces the error:
[code]

Any thoughts as to what is causing the issue?

Thanks!

[2018-01-26 17:23] detrohutt commented on #17
Hey @develomark thanks for trying out my package. AFAIK that second import is not a valid syntax for fragment imports, unless there have been some recent changes I’m unaware of. If you’ve seen that syntax used somewhere please link to it and maybe I can add it but for now only the first syntax is supported.

[2018-01-26 17:45] detrohutt commented on #17
P.s. - You may be confusing that with [this feature](https://www.npmjs.com/package/graphql-tag#support-for-multiple-operations) added to `graphql-tag` last month. That is also not supported in my package at the moment, although I do intend to add support for it in the near future.

[2018-01-26 19:32] gihrig commented on #16
@detrohutt I have walked through and documented the steps I took. Still have the error:
Can you see anything I've missed?

1. $create-next-app -e with-apollo next-apollo-gql
2. $yarn dev && open url (OK)
3. $yarn add -D babel-plugin-inline-import-graphql-ast
4. $yarn dev && open url (OK)
5. Create .babelrc (copy paste from "Use" section on babel-plugin-inline-import-graphql-ast GH page)
6. $yarn d

[2018-01-26 22:34] detrohutt commented on #16
@gihrig Sorry it took me so long to get around to this. Thanks for trying my package and thanks for taking the time to provide the steps you took.

I wrote the README.md to be generic for anyone using the package, not just Next.js users. My example `.babelrc` is generic, so if you were going to use it for Next.js it'd need to include their preset as described [in the Next.js README](https://github

[2018-01-26 22:34] #16 closed

[2018-01-26 22:41] detrohutt commented on #16
P.S. - The latest version (2.1.2) worked for me when I was testing so you shouldn't need to pin a 2.0.4 this time around. But if you do run into problems again I'd suggest switching back to 2.0.4 at that point to see if it fixes any problems.

[2018-01-27 03:53] gihrig commented on #16
@detrohutt Your assessment is spot on! All works as expected now. 💯

I didn't realize that `.babelrc` overrode Next's internal config. I assumed it extended it.

Thanks for taking the time to help me over a noob speed bump. 😄

[2018-01-28 03:10] detrohutt commented on #2
Unfortunately, it doesn't look like there's much movement on the babel PR to fix this issue. I really appreciate everyone here being so patient about this bug. I know first-hand how annoying it is.

As a "thank you" to you guys, I just released a new beta that has a pretty cool feature. It adds [support for multiple operations](https://github.com/apollographql/graphql-tag#support-for-multiple-oper

[2018-01-28 04:11] #17 closed

[2018-01-28 04:14] detrohutt commented on #17
I added the feature I mentioned. If you want to try it out use version `2.2.0-beta.1`.

[2018-01-30 09:37] develomark commented on #17
Hi @detrohutt sorry for the late reply. I shall try it out!

[2018-02-03 19:14] detrohutt commented on #2
The babel team got this sorted out. See [this comment](https://github.com/babel/babel/pull/7205#issuecomment-362818338) for more info. The gist is you need to remove your `node_modules` folder and `package-lock.json` or 'yarn.lock`, make sure your babel version string(s) allows 6.26.1, and run `npm install` or 'yarn'. I'm going to go ahead and close this issue. Let me know if anyone still has issu

[2018-02-03 19:14] #2 closed

[2018-02-07 10:22] farzd opened #18 "Syntax Error: Unexpected <EOF>"
Hey,
I seem to get getting this error. I'm using react native, expo to be specific.
I know it works with expo because this guy seems to be using it
https://github.com/fabien0102/climbing-app

![image](https://user-images.githubusercontent.com/1423413/35911007-6d81cf88-0bf0-11e8-8a9e-f97c268dc37e.png)

I dont think i'm doing anything wrong, just importing the .graphql file.
[code]

when i import it

[2018-02-07 11:25] detrohutt commented on #18
@farzd Hi, thanks for letting me know about this. Are you using Mac OS to develop this? Also, can you let me know the versions of my package and any babel packages you are using?

[2018-02-07 12:06] farzd commented on #18
Thanks for the response
{
  "main": "node_modules/expo/AppEntry.js",
  "private": true,
  "dependencies": {
    "babel-plugin-inline-import-graphql-ast": "^2.1.2",
    "expo": "^25.0.0",
    "react-native": "https://github.com/expo/react-native/archive/sdk-25.0.0.tar.gz",
  },
  "devDependencies": {
    "eslint": "^4.14.0",
    "eslint-config-expo": "^6.0.0",
    "prettier": "^1.9.2"
  },
  "eslin

[2018-02-07 12:36] detrohutt commented on #18
Hmm. Everything looks fine to me. You could've made my package a devDependency but it won't cause any problems for it to be a regular dependency. I haven't used react-native before but I can try to throw together a reproduction in the next few days. I can look into it sooner if you can make the reproduction.  What OS are you using?

[2018-02-07 12:42] detrohutt commented on #18
Also, you may want to attempt using the beta version of my package instead. I made a change to the line-ending regex in that so maybe it would work better? `babel-plugin-inline-import-graphql-ast@2.2.0-beta.1`

[2018-02-07 12:54] farzd commented on #18
Hey, thanks a million. Appreciate it
It didn't work unfortunately. I'm on OSX [El Capitan]

[2018-02-07 13:12] detrohutt commented on #18
Great! I'll close this for now, but if you run into any more problems let me know.

[2018-02-07 13:12] #18 closed

[2018-02-10 16:11] detrohutt commented on #15
Sorry for the late response. If you're still interested in using this, I'll do my best to help if you can provide some code examples of what you are trying to do.

[2018-02-17 02:39] #15 closed

[2018-02-23 14:04] deb0ch opened #19 "What is the difference between this and babel-plugin-inline-import ?"
After reading the README I still can't really wrap my head around what exactly this package enables for graphql files in addition to what `babel-plugin-inline-import` already does ?

[2018-02-23 14:26] detrohutt commented on #19
That package doesn’t parse the graphql file as AST, just returns the contents as a string. Probably useful on server-side for building typedefs from graphql files containing types. My package is for converting frontend graphql files containing operations (queries/mutations/subscriptions) into an AST object to be passed to something like the graphql() function from react-apollo.

[2018-02-23 14:44] deb0ch commented on #19
Oh, I understand better now, thank you !

So, this is especially useful on he client side then ? Should I use `babel-plugin-inline-import` on the server side or do you still recommend using `babel-plugin-inline-import-graphql-ast` on the server ?

[2018-02-23 15:00] detrohutt commented on #19
Personally, I just use the nodejs readFileSync function to read my server-side graphql files, so I’m not familiar with any other method so can’t really make a recommendation, but my package would not be useful on the server in any scenario I’m aware of.

[2018-02-23 15:03] detrohutt commented on #19
Perhaps surprisingly, I’ve never actually used babel-plugin-inline-import. I just needed an example of how to write a babel plugin and it seemed very similar to what i wanted to do so i forked it to start work on my package.

[2018-02-23 16:07] deb0ch commented on #19
Apparently `babel-plugin-inline-import` is very simple, i will just put the file's contents into a variable as a string.

So, on the client side, how would having an imported graphql file parsed into a graphql ast, as in your plugin, make one's life easier than just having it in the form of a string, as in `babel-plugin-inline-import` ? Beside support for fragments, that seems by istself like a ve

[2018-02-23 16:18] detrohutt commented on #19
My package was built to be used with Apollo-client which requires the graphql code to be in AST form. So without my package you’d need to import gql as well as use some method to get the graphql contens from the file manually and parse each operation yourself and would lose support for multiple operations in a single file.

[2018-02-25 02:19] #19 closed

[2018-02-25 12:32] deb0ch commented on #19
Thank you so much for your answers, I understand much better the use and purpose of your package !

[2018-02-26 08:09] seanyu4296 opened #20 "[React-Native] New mutation edit does not reflect immediately when react-native rebundles except when i edit specific js file"
Scenario:
I have a mutation in filename CreateProduct.gql
[code]
that i use in ProductForm.js

when i edit CreateProduct.gql to
[code]
it does not reflect in my usage in ProductForm.js unless i randomly add a line of code in ProductForm.js. I know this because the former returns a "Server missing query...." since there is no fakeFragment on my schema.

Is this specific to React Native only?

[2018-02-26 09:18] detrohutt commented on #20
No it is not specific to React Native. My package replaces the import statement in the .js file with a variable declaration, meaning any file watchers don’t know to watch the .gql file. The only way for the changes in a .gql file to reflect is to do something that causes babel to run again.

[2018-02-26 13:53] seanyu4296 commented on #20
Thanks for the super fast response. Do you think it is possible for the file watcher in my case watchman i think in react-native to watch for .gql? or in web using webpack?

[2018-02-26 14:06] detrohutt commented on #20
Unfortunately, I'm not sure. I've only really used this package with my personal toolchain, which does not include watchman, and I let create-react-app handle webpack for me. I do know that regardless of whether watchman recognizes changes in the `.gql` files, whatever command watchman restarts will need to re-run babel or the changes still won't reflect. See the [Caveats](https://github.com/detro

[2018-02-26 14:16] seanyu4296 commented on #20
Alright I'll look into more soon. What I noticed though that there is no such filepath ('node_modules/.cache/') created when im developing in react-native in my local directory.

[2018-02-26 14:27] detrohutt commented on #20
Ah, ok, react-native may disable babel caching. If that's the case you can just ignore the part about deleting that folder, but you'll still need to rerun babel somehow on each `.gql` change so that the inline variable in the `.js` file can be updated (what my package does) based on the new contents of the `.gql` file.

[2018-02-26 14:41] seanyu4296 commented on #20
Got it! if i have some time, ill try to look into configuring react-native to watch for .graphql. Do you think we should close this issue?

[2018-02-26 14:51] seanyu4296 commented on #20
Understood. Really appreciate the work you have done! @detrohutt

[2018-03-08 05:18] stolinski opened #21 "Fails to import schema files with more than one definition"
For instance a file containing each of the following.

This imports correctly
[code]

This imports as undefined
[code]

[2018-03-08 05:31] detrohutt commented on #21
This package parses the imported file with the ‘gql’ template literal so it’s intended to be used with files containing operations, not schemas. I believe what you’re looking for is ‘babel-plugin-inline-import’ which does no parsing and just inmports the raw content.

[2018-03-08 05:37] stolinski commented on #21
Can you use this with babel-plugin-inline-import though? I still need parsing for operations.

[2018-03-08 05:42] detrohutt commented on #21
Hmm, good question. I’ve never tried it, but I suspect they would conflict since both replace the import statements for ‘.gql’/‘.graphql’ files. So when the second plugin ran, there’d be no graphql imports left to process. I’d be open to offering suport for a third extension (i think i’ve seen ‘.graphqls’ in use before) not supported by inline-import, so files with that extension would be left alo

[2018-03-08 05:47] detrohutt commented on #21
Ah, actually I just took another look at the code for `babel-plugin-inline-import` and it appears it doesn't support `.gql` files, only `.graphql`, so my recommendation would be to use `.gql` files on the frontend with your operations in them, and `.graphql` files on the backend with schema info. You shouldn't run into any issues using the two packages together that way.

[2018-03-08 05:48] detrohutt commented on #21
Oh I forgot to mention, if you do as I recommended above, you'll need to put his plugin before mine in your .babelrc. Otherwise, my plugin would process the `.graphql` files before his had the chance.

[2018-03-08 05:53] stolinski commented on #21
I had that same thought. Another option would be to fork this and have some kind of a pass-through for non-operations where if it wasn't a query, mutation or subscription then it would just return the raw. Thanks for your ideas & help, I'll see if I can get something going.

[2018-03-08 05:58] detrohutt commented on #21
Yeah, that's not a bad idea. I think it'd be pretty trivial to implement as well. I'll take a crack at it now and let you know what I come up with. Also, thanks for your videos on youtube. I'm a subscriber. Good stuff.

[2018-03-08 06:09] stolinski commented on #21
That's awesome! I'd be super excited to have that as an option. Seriously appreciate the response. I'll def be featuring this plugin in some GraphQL content I have coming up. Working with .graphql files is just so much more elegant than wrapping everything in a gql.

[2018-03-08 07:18] detrohutt commented on #21
Alright, I've got the initial implementation finished and passing a simple test. I've published it as `babel-plugin-inline-import-graphql-ast@2.3.0`. Let me know if that works for you!

[2018-03-08 15:35] stolinski commented on #21
That's amazing. I'll try it out!

[2018-03-08 15:55] stolinski commented on #21
Works perfectly! You are the man.

[2018-03-08 15:55] #21 closed

[2018-03-09 15:15] gastonmorixe opened #22 "Argument of #import passed to parser was not a valid GraphQL DocumentNode"
`document ` is the raw file plain text. which throws

[code]

[code]

![screen shot 2018-03-09 at 11 55 27 am](https://user-images.githubusercontent.com/637225/37213439-cbb76ac4-2390-11e8-8674-435160325c4a.png)

[2018-03-09 15:37] detrohutt commented on #22
What version of my package are you using? If you are using `2.3.x` please try downgrading to `2.2.0` (or `2.1.2` if the error persists). If that doesn't fix the problem you may be experiencing a problem with a "shadowed" variable where you've created another variable or class with the same name as the import and accidentally passed that to the graphql() call instead of the imported variable. You c

[2018-03-09 15:44] detrohutt commented on #22
Sorry I should've read your description more carefully. Obviously no need to console.log as you already know what you're passing, but still try downgrading as I mentioned so I can see if it is a problem with the new version I just released.

[2018-03-09 15:53] gastonmorixe commented on #22
Will try soon. Forgot to say this is inn react native 0.54

[2018-03-09 17:49] detrohutt commented on #22
@gastonmorixe Thanks for reporting this. I was able to reproduce it and fix it. Please upgrade to `bable-plugin-inline-import-graphql-ast@^2.3.2`!

[2018-03-09 17:52] detrohutt commented on #21
Hey @stolinski just a heads up a bug was found that affects operations with fragments. Please upgrade to v2.3.2.

[2018-03-09 17:58] gastonmorixe commented on #22
Thanks will try later today and report.

On Friday, March 9, 2018, Alexander Roberts <notifications@github.com>
wrote:

fix it. Please upgrade to bable-plugin-inline-import-graphql-ast@^2.3.2!

https://ci3.googleusercontent.com/proxy/0x1ZVmmPH3eUAQeKbdai_8p_qmiZ4ZvXw6b_whR5OJv5D9XY5xf2w1cI8MJdleOQyWy7nV1HKJ06czHJVIWcXOKdkIJEK2d8inkICMnXPXXVG4KgK7Iev4txImZIUF3Y1WOWkW0Ju7Rv7EXhUr32gsh2g4geoA=s0-d-e1

[2018-03-09 18:00] detrohutt commented on #22
@james-ff ping

[2018-03-09 18:35] james-ff commented on #22
@detrohutt Thanks for the ping!
Just a note:
`bable-plugin-inline-import-graphql-ast@^2.3.2`
should be
`bable-plugin-inline-import-graphql-ast@^2.3.2`
I got a 404 and took me a while to realise why =P

[2018-03-09 18:39] james-ff commented on #22
I've installed 2.3.2 successfully, but I'm still getting the error. I have the package installed as an npm dev dependency, the .babelrc file lists the plugin too. It seems to be having an issue with the fragment import, any ideas? Thanks!

[2018-03-09 18:52] james-ff commented on #22
Just applied one of the caveats: "Applying changes to GraphQL files" and it seems to have fixed it (might have been reloading the project etc that fixed it, probably one of the two).

tldr: It seems fixed for me now =]

[2018-03-09 18:53] detrohutt commented on #22
Thanks, fixed the typo. And thanks for the update! I was worried my "fix" had broken something. :laughing:

[2018-03-09 23:37] kamal opened #23 "Option to import fragment as AST"
The latest release broke code that expected fragment to be an AST instead of a raw string. In my app, I had something similar to

[code]

Perhaps inline `#import` statements could continue to be raw strings, but importing as a module would yield an AST?

[2018-03-09 23:41] detrohutt commented on #23
Ah, I hadn't considered that use case. I'll fix it right now. Give me a few minutes and I'll let you know when I've published the new version. Then your code should work again without changes once you upgrade.

[2018-03-09 23:55] detrohutt commented on #23
Alright @kamal , should be fixed in `babel-plugin-inline-import-graphql-ast@2.3.3`! Let me know if you have any more problems. Thanks for reporting!

[2018-03-10 00:06] kamal commented on #23
It works!

[2018-03-10 00:06] #23 closed

[2018-03-10 06:16] gastonmorixe commented on #22
Seems to be solved! I am having cache issues, only after I rename
everything (file names and imports) I see changes. Should I open a new
issue?

On Friday, March 9, 2018, Alexander Roberts <notifications@github.com>
wrote:

had broken something. 😆

https://ci5.googleusercontent.com/proxy/NFswM7AN3M7DDBDetk81iWFVsxGkWiWPEtrZXGRZFSrM2JPS3MaY8PPu6VLSU5ZnWa4IlTAEOmh9G5y8TIoCuU-CqfbuYad8u_13W5n8X20UYfs

[2018-03-10 06:20] detrohutt commented on #22
See the Caveats section of the README. If you’re still having issues after that you can open another issue.

[2018-03-10 12:47] #22 closed

[2018-03-14 21:32] Oudmane opened #24 "Fails after `npm install` (TypeError: Cannot read property 'program' of null)"
I run with this issue in one of my projects.

I cloned [detrohutt/babel-plugin-inline-import-graphql-ast](/detrohutt/babel-plugin-inline-import-graphql-ast) run ``npm run test`` then faced the same issue :

[code]

``node v8.9.3``
``npm v5.7.1``

[2018-03-14 22:02] detrohutt commented on #24
I was able to recreate the issue with both `node v8.9.3` and `node v9.8.0` along with multiple versions of `npm`. I don't know the cause yet but it is a problem with the way `npm` is resolving the dependencies. If you install the dependencies with `yarn`, then the tests run successfully with either `npm` or `yarn`, but if you install the dependencies with `npm` the tests fail with both.

[2018-03-14 22:10] detrohutt commented on #24
After removing my `yarn.lock` file, the problem also occurs with `yarn` too, so some dependency or sub-dependency has upgraded since I released and is causing the issue. In the future I will release a `package-lock.json` file as well as my `yarn.lock` to avoid this situation. For now, I'm not sure how to fix it but if it's an option for you, you can install `yarn` just to install the dependencies

[2018-03-14 22:53] Oudmane commented on #24
I did the test using yarn, It worked, I installed your package using yarn, I still get the same problem (in my project).

[2018-03-14 23:20] detrohutt commented on #24
I believe I have it fixed. Please change your dependency on my package to `^2.3.4`, remove your `node_modules` folder, and reinstall with `npm i` or `yarn` and everything should work.

[2018-03-14 23:25] detrohutt commented on #24
You may need to uninstall and reinstall my package rather than just changing the version in order for the change to reflect in your `package-lock.json` or `yarn.lock` and install the correct version.. if that still doesn't work, you may need to remove your lock file first.

[2018-03-14 23:38] Oudmane commented on #24
I removed node_modules lock. files and run ``npm install`` again and it worked, Thanks a lot :)

[2018-03-14 23:39] #24 closed

[2018-03-14 23:41] detrohutt commented on #24
Glad it worked, thanks for reporting this bug!

[2018-03-15 19:00] justinmakaila opened #25 "Cannot read property `program` of null."
Hey,
I recently upgraded to 2.3.4, and I'm suddenly getting an error that says "Cannot read property of 'program' of null (null)".

It seems to be related to this line: https://github.com/detrohutt/babel-plugin-inline-import-graphql-ast/blob/master/plugin/index.js#L69

Do you have any advice on debugging such an issue? No idea why this would have started.

[2018-03-15 19:50] detrohutt commented on #25
Yes, this was discussed in #24. Doing one of the following should fix the issue. Continue only if the previous step doesn't fix the issue.

#### Steps to resolve bug (one or more may be needed)
1. `npm uninstall` (or `yarn remove`) and then `npm install` (or `yarn add`) my package to update your `package-lock.json` (or `yarn.lock`) file.
2. Delete your `package-lock.json` (or `yarn.lock`) file, re

[2018-03-16 03:27] detrohutt commented on #25
I just released v2.3.5 of my plugin which should fix your issue.

[2018-03-20 01:49] #25 closed

[2018-03-21 11:27] flexlee opened #26 "Nextjs example showing { Invariant Violation: Argument of 'query' passed to parser was not a valid GraphQL DocumentNode }"
Hi, I was using this plugin v2.3.5 with nextjs `with-apollo` example. I have set up `.babelrc` according to instruction and took out the graphql query in `PostList.js` component to file `allPosts.graphql`. However I kept getting

[code]

Could it be `babel-core` v6.26.0 that's causing this? I have uploaded the repo here https://github.com/flexlee/with-apollo-app. It would be nice to have a working

[2018-03-21 14:36] detrohutt commented on #26
It looks like you have the first line of your graphql file indented. My package doesn’t currently trim or account for leading whitespace on the first non-comment line and checks that it starts with “query”, “mutation”, “subscription”, or “fragment”. I’ll make the check a little more robust later but for now just remove the spaces at the beginning of line 1 of the allPosts.graphql file.

[2018-03-21 15:51] flexlee commented on #26
Sorry, I fixed the indention. But it's giving me the same error.

[2018-03-21 18:33] flexlee commented on #26
@detrohutt you're right. It works now. Thanks.

[2018-03-21 18:33] #26 closed

[2018-04-05 23:32] detrohutt opened #27 "Rewrite README.md"
I'm not happy with my current README. It seems disorganized and overly verbose. Perhaps some of it should be moved to a `/docs` folder? Maybe some stuff should just be taken out altogether. Any help is welcome and appreciated.

[2018-04-12 16:26] Slessi opened #28 "Usage with jest"
Hi.

I've managed to use this in my project at runtime, however when running my tests with jest I get

Tried using https://github.com/keplersj/jest-raw-loader but didn't work either as I believe that just imports the file as a string and this plugin passes it through `graphql-tag` first, and I instead receive

Is there a way to transform files in jest the same way this plugin does at runtime?

[2018-04-12 16:51] detrohutt commented on #28
I've only used Jest for extremely simple tests so I'm not sure off hand how to fix this. If you can create a reproduction of the problem in a repo I'll do my best to get it fixed for you.

[2018-04-13 09:17] Slessi commented on #28
@detrohutt Repo is here https://github.com/Slessi/jest-ast-inline-test

Its a simple test too, but I'm now no longer sure if it has anything to do with your library. My project uses typescript, in the reproduction repo I just supplied I added both TS files and the built JS files, with jest set to run tests with both.

`App.test.js` passes
`App.test.tsx` fails

¯\_(ツ)_/¯

[2018-04-14 05:33] detrohutt commented on #28
Thanks for the update! It does sound like the issue is probably with the other repo unfortunately. If they can't figure it out let me know and I'll attempt to PR their repo with a fix.

I liked your idea about making the same transform at runtime, so I'm going to explore that option as well. I don't know what it would look like since my plugin offers several different output types (single or multi

[2018-04-14 11:53] detrohutt commented on #28
I went ahead and implemented `requireGql`. **I haven't published it yet.** I'll explain why below.

 It works exactly as described above when used with schema files and client-side files with multiple operations (i.e. 2 queries in one file).

By default, if you require a file with a single operation, it'll directly return that operation without wrapping it in an object. I think this is more conven

[2018-04-19 07:51] Slessi commented on #28
10/10 for enthusiasm :p

Currently I've stopped trying to fix my original use case to work, I just transpile first and test the outputted JS. I do however like the sound of `requireGql`, and would like give it a try when ready :D

[2018-04-19 08:13] detrohutt commented on #28
You've unwittingly set me on quite a path lol. The feature turned out to be more of a challenge than I thought, but I like challenges. Now I'm making 3 separate repos to bring that feature to life (each one being generally useful on its own), and will definitely let you know when it's ready for testing. I've decided to call it `getGql` now, partly so people won't expect it to traverse `node_module

[2018-04-26 05:06] #28 closed

[2018-05-13 12:12] pyromaniac opened #29 "Multiple fragments per file"
Hello, thanks for a great package first of all!

I just found out that it doesn't support multiple fragments import. Is it possible to fix it? From the source code, I see that the only reason is this line: https://github.com/detrohutt/babel-plugin-inline-import-graphql-ast/blob/master/plugin/multi-op.js#L19 If we would remove this check - it might do the trick. Unfortunately, as far as I can see,

[2018-05-14 06:53] detrohutt commented on #29
Hey @pyromaniac thanks for bringing this to my attention. Just to make sure we're on the same page, could you provide a code snippet of what you're trying to do that's not working (and what you expect the result to be)? I'd like to make a test case for it to verify that it's broken and ensure that I fix it.

Something like this?
[code]

or are you trying to import the fragments into your javascrip

[2018-05-16 07:52] elmpp opened #30 "babel 7 configuration format"
Hi there,

I'm trying to bumble my way through to having a working babel7-based setup but there seems to be something wrong the moment i pull in "babel-plugin-inline-import-graphql-ast"

Here is my `babel.config.js` (this is now the [babel7 method](https://github.com/facebook/jest/issues/6053#issuecomment-383632515) to specify a project-wide babel config, in lieu of `.babelrc`):

[code]

Example u

[2018-05-16 11:34] detrohutt commented on #30
Would you mind running `npm list @babel/core` and letting me know what version that outputs? (It could be different from what's in your `package.json`). Babel just released an update in the last day or two and I've not gotten around to seeing if there are any breaking changes that affect my plugin.

[2018-05-16 19:18] detrohutt commented on #30
Wow, thanks for taking the time to detail what needs to be done @loganfsmyth! Do you think this is likely to be a breaking change (major version bump) for my plugin? I mean do you think anyone would have been relying on their config being loaded by my plugin in some way?

[2018-05-16 20:06] elmpp commented on #30
here are both npm's and yarn's outputs for `@babel/core` (there's something funky going on with npm's resolution):

[code]

[2018-05-16 20:14] detrohutt commented on #30
@elmpp Thanks! It looks like you're using the newest one. I just checked the changelog and it doesn't look like it should have affected my plugin directly. Hopefully what Logan suggested will fix it for you. I'm working on making that change now and I'll ping you here when I've published the new version.

@loganfsmyth I didn't see anything in the babel-handbook about pulling `template` from the pa

[2018-05-16 20:17] loganfsmyth commented on #30
Nope! That's been there for ages. The first argument includes everything you get from importing babel-core itself, along with some extra stuff. That said, if you want to avoid it to keep things minimal you could also do

[code]

[2018-05-16 20:21] detrohutt commented on #30
@loganfsmyth Amazing. I wish I'd have known about `t.valueToNode` when I was creating this plugin. It'd have saved me many hours of frustration. Thank you for all your help!

[2018-05-17 05:55] pyromaniac commented on #29
I actually want to have a single file:

[code]

Which I'm able to import in js or other gql files with:

[code]

An yeah, I see your point about `# import` syntax, thanks!

[2018-05-17 06:32] detrohutt commented on #29
Ah, ok. That does need to work. I’ll write a test case and get it fixed after I wake up. Thank you for the information.

[2018-05-17 07:15] elmpp commented on #30
it works! Thank you very much (also to @loganfsmyth)

[2018-05-17 07:15] #30 closed

[2018-05-17 07:16] detrohutt commented on #30
@elmpp Awesome! Thanks for reporting back. :)

[2018-05-18 01:13] detrohutt commented on #29
Hey @pyromaniac , I've been working on this for a while and it's not as simple as I'd hoped. Changing the line you mentioned does indeed fix *your* issue, but it breaks another test, and in trying to fix that test, I broke yet another test.. so basically it's going to be hard to keep backwards compatibility with the way things currently work.

I've been working on the beta branch to make some subs

[2018-05-18 03:03] pyromaniac commented on #29
Yeah, I'm using the workaround now. And I suspected incompatibilities there as I mentioned before, however, I thought it will be easier to resolve them. Ok, thanks for your passion anyway, going to wait for 3.0.0 and maybe will find a time to implement it by myself without breaking backward compatibility.
I believe that the key is to check whether a file contains only fragments or a mix of fragmen

[2018-05-18 04:41] detrohutt commented on #29
Ah, you *did* mention all of that in the description. Sorry, it's been a busy last few days. Depending on how much trouble I run into with v3.0.0, I may continue messing with it on the master branch. I was headed in the direction you mentioned, checking for files with only fragments, etc but it was adding more code than I wanted to and seemed a little overly complex/verbose (coding while tired) bu

[2018-05-18 10:10] detrohutt commented on #29
Good news. I took another shot at it after a nap and came up with something I was happy with on master, so I've published `v2.4.0` to NPM. It should work for you. :)

By the way, thanks for your diagnosis of what the incompatibility would be. While I came to the same conclusion on my own, you worded it more succinctly and made it easier to reason about while I was updating the code.

[2018-05-18 10:14] pyromaniac commented on #29
Wow, that's awesome news! Thank you so much! going to test it :)

[2018-05-18 10:19] pyromaniac commented on #29
It works just awesomely! Thanks again!

[2018-05-18 10:32] #29 closed

[2018-05-18 10:41] pyromaniac opened #31 "Fragments again"
Hey, sorry for being back but I found one issue: when you have a single file with several fragments and try to include it to, say, a query file, this way: `#import { frag1 } from "fragments.gql"`, it raises an error. If you do `#import "fragments.gql"`, it works as expected but it adds all the fragments at the end of the query.

[2018-05-18 10:43] pyromaniac commented on #31
Oh wow, just realized that this is fine because my fragments are dependent on each other (included into each other) but I still believe it should not raise an error in the case of picking the fragments manually, it should load all the dependencies it needs

[2018-05-18 11:10] detrohutt commented on #31
Hmm.. I don't think there is any official spec for me to reference for the `#import` syntax (I think `graphql-tag` may have invented that syntax), but I've never seen it have specifiers (default or named), it's always just the filename.

I'm still not sure I want to go inventing my own syntax and fragmenting the GraphQL ecosystem worse than it already is. I suppose I could add logic to parse the o

[2018-05-18 12:08] pyromaniac commented on #31
Btw, seems like `import { frag1 } from "fragments.gql"` works just fine in js files. That's why I was wondering.

[2018-05-20 09:35] supukarmin opened #32 "Feature request: Remove unnecessary white space"
The plugin should per default remove all the white space when importing. In some of my projects it could probably save up 20-30% of the build size, because everything is being minimized, except GraphQL, which makes GraphQL become relatively seen a really big part of the build.

You could just add this library: https://github.com/rse/graphql-query-compress and probably one line of code somewhere.

[2018-05-24 01:53] detrohutt commented on #32
If I did start stripping comments I'd need to make it optional and off by default to prevent it being a breaking change. It's unlikely but possible someone is extracting or using the comments in some way from the imported query.

I'd *consider* doing this, but on first thought, I'm leaning towards declining. It's unfortunately not going to be a one-liner because of what I mentioned above. Addition

[2018-05-24 02:28] detrohutt commented on #32
One point I forgot to make is that any type of AST is extremely verbose by nature, so I'd expect any reduction in size by removing whitespace and comments to generally be pretty marginal. If you'd be willing to run some benchmarks on some `.graphql` files of different sizes, with/without comments, and let me know what the actual size reductions are, I may reconsider my stance.

Also, one option wo

[2018-05-27 08:11] detrohutt commented on #27
Closing since this repo is deprecated. I'll be attempting to rewrite the README myself on the new repo.

[2018-06-01 00:01] pm-dev opened #34 "Is create-react-native-app supported?"
I'm attempting to use this plugin with a create-react-native-app (CRNA) but when importing a .graphql file into a typescript file, I'm seeing the error:
[code]

I noticed the `babel-plugin-inline-import-graphql-ast` package, but it works with `react-app-rewired` which is for create-react-app and not create-react-native-app.

Any ideas?

Here's my .babelrc
[code]

and package.json
[code]

[2018-06-01 02:48] detrohutt commented on #34
Hi @pm-dev , I've never actually used RN, but I went ahead and installed CRNA and created an app with it to test this out and it worked fine for me. I didn't set up a GraphQL server or anything, just followed these steps:

ran `yarn add -D babel-plugin-import-graphql`

ran `yarn add graphql`

added `"import-graphql"` to `.babelrc` plugins section

created a `query.graphql` file with this:

[code]

[2018-06-03 23:17] loganfsmyth commented on #30
@detrohutt The best you can do on the side of the transform itself would be
[code]
which will force-enable the `concise` option and restrict the output to a single line with only single-space spacing. Not quite as small as the `minified` but should still be a good way there.

[2018-06-03 23:21] detrohutt commented on #30
@loganfsmyth Amazing! Thanks for being so available for my questions. It's great to have such a wellspring of knowledge on call when I get stuck or just feel like I'm probably doing something sub-par. And thanks for all your great work on Babel!

[2018-06-04 08:16] detrohutt commented on #32
@supukarmin Looking back over this, most of what I said was incorrect or doesn't make sense. Sorry about that, I should probably start sleeping more lol. Anyway, I've implemented a change to remove most whitespace, resulting in about 30% smaller output size. It will take effect in version `2.5.0`. Thanks for the tip! Would you mind if I add your name in the CHANGELOG/Release notes?

[2018-06-04 08:16] #32 closed

[2018-06-04 08:22] detrohutt commented on #34
@pm-dev Also, maybe update your version of CRNA?

[2018-06-04 08:40] detrohutt commented on #30
@loganfsmyth That worked beautifully. Mind if I credit you in the CHANGELOG/Release notes/Twitter announcement?

[2018-06-04 16:47] detrohutt commented on #32
Sure, I’ll see if I can get that working soon. I’ll let you know how it turns out. :)

[2018-06-04 18:29] pm-dev commented on #34
@detrohutt Thanks for the quick response. I've confirmed that this library works with CRNA and it is only when importing into a typescript file, that the `Cannot find module` error happens. I've spent some time trying different tsconfig.json options, but no luck so far.

[2018-06-04 18:59] detrohutt commented on #34
Oh it sounds like just a type issue. What i did was make a `types` folder in my project root with a `fileExtensions.d.ts` file like this in it:

[code]

And then add that folder to my `typeRoots` in `tsconfig.json`:

[code]

[2018-06-04 21:07] pm-dev commented on #34
Changing the `module` compiler option in `tsconfig.json` from `commonjs` to `es2015` allowed the js bundle to build.

My IDE was still reporting an error because it couldn't find the module for my `.graphql` file, which was fixed by your suggestion of adding `fileExtensions.d.ts` with
[code]

Thanks for your help debugging.

[2018-06-04 21:07] #34 closed

[2018-06-07 13:28] detrohutt commented on #27
Finally got around to doing this myself and must say I'm actually pretty happy with it now. :)

[2018-06-07 13:28] #27 closed

[2018-06-08 08:04] ovaris opened #35 "error: bundling failed"
Hi,

I'm trying to use latest version of plugin (2.5.0) in react native project (babel-core 6.26.3) but I do get this error
[code]
here's my .babelrc
[code]

Any ideas?

[2018-06-08 10:21] detrohutt commented on #35
@ovaris `v2.5.1` was just published and should fix your issue! :)

[2018-06-08 10:38] ovaris commented on #35
@detrohutt THX that was fast! I'm seeing now this, after upgrading:
[code]

[2018-06-08 10:41] cainiaokan opened #37 "Cannot read property 'runtime' of undefined"
version 2.5.1

Got an error trying to start my node server.
According to the output, the `options` object is undefined.
I suppose we should check the `options` object before referencing its properties.

/Users/apple/Code/zhiyin-open-web/node_modules/babel-plugin-import-graphql/build/index.js:51
      if (options.runtime) {
                  ^

TypeError: Cannot read property 'runtime' of undefined

[2018-06-08 10:47] detrohutt commented on #35
Alright. That *should* have fixed it, but I've got one more trick up my sleeve. Give me a few more minutes and I'll get another patch out.

[2018-06-08 10:55] detrohutt commented on #35
Give `v2.5.2` a shot lol.

[2018-06-08 10:56] detrohutt commented on #37
Already on it again lol. Try `v2.5.2`. I moved the dependency check into the visitor function where it's easier to access the options.

[2018-06-08 11:06] ovaris commented on #35
Sleeve worked! Big thanks. Now only thing left to figure out is to how to get rid of Flow error:
`Cannot resolve module ./foo.graphql`

[2018-06-08 11:08] detrohutt commented on #35
Aw, sorry, but I'm not going to be any help there. Never touched flow before. It *may* be something similar to the fix for a similar error in TypeScript that I shared [here](https://github.com/detrohutt/babel-plugin-import-graphql/issues/34#issuecomment-394462336). :man_shrugging:

[2018-06-08 11:15] detrohutt commented on #35
Actually it looks like there are several ways to fix this for flow outlined [here](https://github.com/facebook/flow/issues/2852) :D

[2018-06-08 11:18] detrohutt commented on #35
I'm going to close this issue. If you can't get the flow error fixed, you can open another issue for that and I'll try to find some time to see if there's something I can do on my end in the package code to fix that problem.

[2018-06-08 11:18] #35 closed

[2018-06-08 11:45] ovaris commented on #35
Thx for support, Flow error was easy to fix, `.flowconfig`:
`module.name_mapper='.*\(.graphql\)' -> 'empty/object'`

[2018-06-08 11:48] detrohutt commented on #35
Glad you got it working! Just let me know if you run into any more problems. And thanks for your patience while I got this issue taken care of.

[2018-06-08 11:52] cainiaokan commented on #37
I can confirm it did solve my problem.  Thx for saving my day~

[2018-06-08 11:53] detrohutt commented on #37
Thanks for starring my plugin! 😄

[2018-06-08 12:06] #37 closed

[2018-06-11 16:27] supukarmin commented on #32
@detrohutt Looks great, thank you for the update.

[2018-06-14 17:48] yvele opened #38 "Importing types, inputs, etc. using #import syntax"
Hi ✋

I want to use this package server side, to split my schema definition into multiple files.

Is it possible to use `#import` for complete types, inputs, etc. ? Or is it only supposed to work with fragments?

`Bar.graphql`
[code]

`typeDefs.graphql`
[code]

`schema.js`
[code]

I got this error

[code]

[2018-06-14 19:11] detrohutt commented on #38
@yvele Currently it's only meant to work with fragments. I borrowed the `#import` syntax from `graphql-tag/loader` which doesn't support server-side usage at all, so there's not really a precedent for using the `#import` syntax in that way. However, I'm not totally against the idea. Give me a day or two to think about it and I'll let know you something.

[2018-06-14 22:18] dobesv opened #39 "Results are cached by babel, so future runs use an old version of the graphql"
We've been running into this issue where we have to delete the babel cache or our code (in particular, jest tests) runs with an outdated version of the imported graphql.  Have you seen this before?  Any idea who better to report this to or how to get to the bottom of it?

[2018-06-15 01:58] detrohutt commented on #39
The [Install section of the README](https://github.com/detrohutt/babel-plugin-import-graphql/blob/master/README.md#install) covers this. I’m not sure why this is the case. It’s a known behavior in [other babel plugins](https://github.com/kentcdodds/babel-plugin-preval/issues/19) and I don’t believe there’s anything I can do at the plugin level to address it aside from making a note in the README.

[2018-06-15 02:59] detrohutt commented on #39
As far as who else to report this to, it's in Babel's domain, but the maintainer of Babel was included in the discussion I linked to so he's already aware of the situation.

[2018-06-15 07:59] yvele commented on #38
@detrohutt Cool thank you! That feature could be really useful for sharing types (generic types like`pageInfos`, or domain types) between sub schemas, in a GraphQL gateway fashion (using schema stitching). I'm impatient to hear back from you.

[2018-06-15 18:52] detrohutt commented on #38
@yvele I've decided to go ahead and implement this feature. It's going to take a day or two because:

1. I have to write new tests to cover this functionality
2. It's going to involve some refactoring since the `#import` logic is tightly coupled with the non-schema file logic right now.

But I am working on it and will let you know as soon as I publish the new version!

[2018-06-17 06:51] yvele commented on #38
@detrohutt thanks! I will check that out in 2-3 days.. And let you know

[2018-06-28 13:40] adamhaney opened #40 "Support (or document?) Outputting "compiled" graphql queries"
Thanks for this library. It's super helpful and I use it heavily.

I have several queries with "deeply nested" fragments, and I regularly want to copy my queries into graphiql for debugging the output of the query. The issue is that I then end up having to go file by file copying all of my included fragments, I have some queries that include several fragments and some of those fragments include th

[2018-06-28 13:54] detrohutt commented on #40
I'm not sure I completely understand where you want the output to go.. Are you talking about outputting the query in the babel-compiled `.js` file? If so, you can try using the `runtime` option available in the newest version of `babel-plugin-import-graphql` (I changed the name recently and the newest features are only available under the new name). The `runtime` option outputs a the full query so

[2018-06-28 13:57] detrohutt commented on #40
If you're using the `babel-plugin-inline-import-graphql-ast` package, there's a section at the top of the README on how to migrate to the newly rename package.

[2018-06-28 14:49] detrohutt commented on #40
P.S. - you can also use the `Apollo Client Developer Tools` browser extension to run your queries/mutations in graphiql

![Apollo Client Developer Tools](https://puu.sh/ANts4/c33c5c89af.png)

[2018-06-28 14:55] adamhaney commented on #40
I'm working on a react-native project and I have never managed to get the chrome plugin to work with the project, not sure if that's a support issue or user error on my part :/

I spent the last hour or so reading through the source code and hacked together a small script that allows me to output an arbitrary file with all of it's `#import` statements to stdout. Included below if anyone else has a

[2018-06-28 14:55] #40 closed

[2018-06-29 21:23] gregorycuellar commented on #38
import was not working when having multiple #import statements in the same file.
Elements defined directly in this file were added multiple times ( one for each import )

I proposed PR #41 in order to fix this.

[2018-06-29 22:32] detrohutt commented on #38
@gregorycuellar I just published `babel-plugin-import-graphql@2.6.1` which contains your fix. Thanks again.

[2018-06-29 23:21] gregorycuellar commented on #38
Great ! Thanks @detrohutt

I just noticed that there is still the problem for "level one" but I can't find where it comes from.
Maybe you have an idea ?
I will continue to search, and if I find I will push an other PR.

[2018-06-29 23:37] gregorycuellar commented on #38
I found
I pushed PR #42 with fix + tests

Thanks @detrohutt

[2018-06-29 23:47] detrohutt commented on #38
Awesome! I published `v2.6.2`.

[2018-06-30 15:48] danilobuerger commented on #28
Solution with ts-jest is here: https://github.com/kulshekhar/ts-jest/issues/489#issuecomment-401548565

[2018-07-11 17:22] hichriMG opened #43 "fragments absolute paths executed as relative in gql files under react unit test (chai)"
So running a chai test on a react component that require a gql file (graphQL query)

[code]
the npm script:
[code]

as you can see the gql document importing a fragment for the schema the problem is that when i run the test the gql file is trying to take the fragment path as a relative so it look for the file in the wrong location path= 'path_to_gql_schema/path_to_gql_fragment' So I got a no such

[2018-08-19 16:43] Almaju opened #44 "Live reload with Expo / React Native"
Hey, thanks for the great work!

I'm currently developing a React Native app but it feels quite painful having to clear the cache everytime I make a change (with "R" command in Expo console).

It would be awesome to have a livereload feature for development purpose. I tried with the runtime: true option in .babelrc but it does not seem to change the behavior.

[2018-08-21 04:25] detrohutt commented on #44
I wish I could help but as I mentioned in #39 it's outside the scope of a plugin to offer that functionality. It's something babel would need to implement. Thanks for using my plugin!

[2018-08-21 04:25] #44 closed

[2018-09-08 14:46] xshadowlegendx opened #45 "Is it okay to use this plugin on server side for production?"

[2018-09-14 01:38] detrohutt commented on #45
It should be fine. It gets downloaded about 40,000 times per month and I'm not aware of any bugs currently.

[2018-09-14 01:38] #45 closed

[2018-10-26 17:40] MoonTahoe opened #47 "How to watch the typeDefs file?"
This plugin doesn't register changes to the `typeDefs.graphql` file. I noticied that inside the documentation the suggestion is to delete the cache before starting:

The problem with this is what happens when you want to watch for changes and restart your server?

[code]

If I start my app using nodemon with babel-node to work fast and efficiently, changes to `typeDefs` will trigger a restart, but

[2018-10-27 02:58] detrohutt commented on #47
Possibly `"start": "nodemon --exec rm -rf ./node_modules/.cache/babel-loader && babel-node ./src -e js,graphql"`?

[2018-10-27 03:52] MoonTahoe commented on #47
I don’t really like the idea of putting an ‘rm -rf... ‘ into an automated package.json script like that.

[2018-10-27 04:10] detrohutt commented on #47
Sorry, I'm afraid that's the best I can do. As I mentioned [in issue 39](https://github.com/detrohutt/babel-plugin-import-graphql/issues/39) there's nothing I can do about this from inside a babel plugin. There's a link in that issue to an external discussion with more info.

[2018-10-27 05:43] MoonTahoe commented on #39
Yea I know. No worries. It will change someday. Thanks for contributing this plugin.

[2018-10-27 15:37] dobesv commented on #39
I was pondering whether it would work better if the plug-in pretended the graphql was a sort of js dialect and outputted a js file instead of inlining the graphql into the file that imported it.  What do you think?

[2018-11-09 00:45] benjamin-halter opened #48 "Unexpected token, expected ";""
I'm trying to use this plugin with React Native but am stuck with this error:
<img width="497" alt="screen shot 2018-11-09 at 1 39 59 pm" src="https://user-images.githubusercontent.com/32251097/48235965-02ff2a80-e425-11e8-9952-9776ba80c82a.png">

Node version: 8.10
Plugin version: 2.6.2

My files are as such:
.babelrc
[code]

all-cattles.query.graphql
[code]
Please let me know if there's anything

[2018-11-09 01:10] detrohutt commented on #48
Hey, thanks for trying my plugin! Are you using `create-react-native-app` or something else? I don't use react-native myself but if you can give me a rough idea of how you made your project (i.e. following a tutorial somewhere) I can try to make a reproduction later. It'll be at least a few days though because I'm currently quite sick.

[2018-11-10 21:31] benjamin-halter commented on #48
Thanks for getting back so quick. I'm using the native code guide here: https://facebook.github.io/react-native/docs/getting-started.html Thanks.

[2018-11-13 21:58] Daavidaviid opened #49 "Library not working if graphql files located in root directory"
Hi,
Thanks for your work.

I don't know if you're aware of it, but I lost a lot of time because of a very specific issue today. When the structure of your react-native project is the following :
[code]

It resulted every time in an error like :
`build failed: couldn't find module "./graphql/queries/query.graphql"`

But if I nest .js files in a `/src/` directory, and the structure is like this :
[c

[2018-11-16 14:09] detrohutt commented on #49
Thanks for reporting this, and for the easy repro instructions. I'll try my best to check this out over the weekend!

[2018-11-16 14:10] detrohutt commented on #48
Work has been a little crazy but I'm going to try to take a look at this over the weekend. :)

[2018-11-20 03:45] Kisepro commented on #49
Hi,

I have the same error message problem since I change my react-native version from 0.55.4 to 0.57.5.
I tried on IOS and android.

However my situation is a bit different.

./react-native-app/
   ./components
      ./compA
         ./query.js (including my gql file)
         ./myQuery.gql

I tried to move query.js from directories but it still does not work.

I don't manage to run my project an

[2018-11-20 10:41] Kisepro commented on #49
Ok for my part was because I had something wrong with my package and versions and in my .babelrc
RN 57 requires to update few things like the preset "metro-react-native-babel-preset" instead of the deprecated one and it requires to change the .baberc like following  :

[code]

[2018-11-24 14:52] Kisepro commented on #49
@detrohutt  It works on windows but the same code on IOS give the same error message :-(

Did someone already tried on IOS ?

[2018-11-25 21:04] Kisepro opened #50 "Path problem including graphql files"
Hello,

When I try to simply import a gql file, I always get the error :

[code]
### My code :

`import Query from "./myQuery.gql";`

![image](https://user-images.githubusercontent.com/7433141/48984622-38329a80-f0fe-11e8-8c7f-7fac93742ccd.png)

The only way to make it **working** is to use the **absolute** path to the graphql path. ex : C:\Project\importGQL\components\myQuery.gql

### Reproduction

[2018-11-25 21:07] Kisepro commented on #49
It may be a path problem too https://github.com/detrohutt/babel-plugin-import-graphql/issues/50

[2019-01-07 08:46] savovs opened #51 "Usage with Babel 7"
Hi there, I'm trying to get the plugin to run with Babel 7, but no luck so far.

Here's what I tried;
`yarn add -D @babel/cli @babel/core @babel/preset-env babel-plugin-import-grapqhl`

[code]
When I run this command
`babel server/index.js`

I get this error:
`Cannot find module 'babel-plugin-import-grapqhl`

Have you guys tried using it with Babel 7?

Here's my dependencies:
[code]

[2019-01-08 10:47] amwill04 commented on #50
The issue seems to be the fact that `jsFilepath` is resolving to `node_modules/react-natve/components/ComponentA` and therefore `babel-plugin-import-graphql` can't resolve `./myQuery`. Using `nodePath opt` I first thought would solve the issue but it doesn't as it means you can't have duplicate file names in different directories.

I have tried using `babel-plugin-module-resolver` to get the corre

[2019-01-20 19:39] zippocage commented on #51
This should not be a problem with babel 7

You misspelled the plugin name. babel-plugin-import-grapqhl should be **babel-plugin-import-graphql**

Hopefully you found that out and this issue can be closed.

[2019-01-23 23:06] savovs commented on #51
oh dear🤦‍♂️

[2019-01-23 23:06] #51 closed

[2019-01-24 14:40] mieszko4 opened #52 "Instruction for clearing cache does not work with react-native 0.57"
This instruction:
[code]
does not work with react-native 0.57

Is there any way to fix it in react-native?

[2019-01-24 15:59] mieszko4 commented on #52
As a workaround I read and tried to write comment in file that imports the `.graphql` file to bust cache.
Also I believe this issue is related to https://github.com/evenchange4/graphql.macro/issues/6

[2019-01-30 02:48] #47 closed

[2019-01-30 02:56] detrohutt commented on #31
I've decided the added complexity of "smart importing" is not worth the amount of benefit a few people would get from that feature. I want to keep the package as simple and stable as possible, especially now that I have very little time to work on it.

[2019-01-30 02:56] #31 closed

[2019-01-30 03:01] pyromaniac commented on #31
okay

[2019-02-14 20:28] jameskennethrobinson commented on #50
This is also a problem for me.

[2019-03-02 17:12] JustFly1984 opened #54 "Update to support graphql@14.x"
npm WARN babel-plugin-import-graphql@2.6.2 requires a peer of graphql@>=0.9.6 but none is installed. You must install peer dependencies yourself.

[2019-03-02 17:14] JustFly1984 opened #55 "Provide d.ts as part of lib"
There is no @types/babel-plugin-import-graphql

I've tried to generate .d.ts with dts-gen, but it produces empty file.

[2019-03-03 18:26] detrohutt commented on #50
Were any of you who experienced this problem *not* using react-native? I've got too much going on to set up and mess with react-native, but if anyone can offer a reproduction of this problem that doesn't involve react-native I can take a look. Pull requests by anyone who uses react-native are also welcome. :)

[2019-03-03 18:55] detrohutt commented on #54
The current version string supports that version. I just tested by installing In an empty directory immediately after `npm init`:
![image](https://puu.sh/CUzwA/204b5169a2.png)

[2019-03-03 19:00] detrohutt commented on #55
I use this with a typescript project I'm working on and haven't needed types for it since it's only used indirectly at compile time. Are you getting any kind of warnings?

[2019-03-03 21:42] JustFly1984 commented on #55
Yes, I do get warnings. I'm using it as

[code]

This is the only place in whole project I use `@ts-ignore`

[2019-03-05 19:15] JustFly1984 commented on #54
I'm using your plugin with aws-amplify and gatsby.js. Both of them require graphql at least 0.13.0, and some of the gatsby plugins require 14.1.1

[2019-03-05 19:44] detrohutt commented on #54
There shouldn't be any issue installing whatever version of graphql you'd like. I installed the newest version in the screenshot above and got no warnings. Make sure you have actually installed the graphql package, because the warning may be indicating that it is not installed at all.

[2019-03-06 00:26] JustFly1984 commented on #54
@detrohutt Well, the thing is I can't install qraphql as direct dependency to my project, cos `gatsby.js` asks to do not install it separate.

[2019-03-06 00:30] detrohutt commented on #54
I don’t use gatsby myself, but if that’s the case, I’m afraid there’s
nothing I can do to help. It wouldn’t make sense for me to bundle graphql
with this package.

On Tue, Mar 5, 2019 at 7:26 PM Alexey Lyakhov <notifications@github.com>
wrote:

[2019-03-07 06:16] c316 commented on #38
@detrohutt

I'm having this problem with `v2.7.0`

In my index.js file I have, `import * as typeDefs from './schema.graphql';`

That file starts like this
`# import Activity from "generated/prisma/prisma.graphql"`

The compiled file just has the import, like this
`var typeDefs = "# import Activity from \"generated/prisma/prisma.graphql\"\n...`
instead of importing that as well.

Do you have any ad

[2019-03-30 07:54] sebas5384 opened #56 "Parse schema files to AST"
Maybe I'm missing something, but, currently there's no babel plugin which understands graphql extensions (`.gql` or `.graphql`) and parsers to AST schema definitions.

I see here https://github.com/detrohutt/babel-plugin-import-graphql/blob/master/plugin/requireGql.js#L16 that this plugin when detects is an schema file and not with operations it skips the parsing to AST.

Would it be great if I co

[2019-04-19 16:10] iamnader commented on #52
I had to rename files.  I couldn't get the cache busted

[2019-05-08 07:59] lorensr commented on #47
`rm -rf ./node_modules/.cache/babel-loader`

didn't work for me but this did:

`"dev": "nodemon -e js,graphql --exec 'rm -rf ./node_modules/.cache && babel-node src/index.js'"`

[2019-05-30 18:30] jefflewis commented on #48
I was seeing this, but incorrectly included `graphql` in my `sourceExts` instead of `assetExts` in my metro config as described here in https://github.com/detrohutt/babel-plugin-import-graphql/issues/50.

This worked for me:

[code]

[2019-05-30 18:37] detrohutt commented on #50
After seeing this mentioned in #48 as well, I believe @stephencaldwell is correct. I'm closing this. If anyone experiences this issue with the settings mentioned above, let me know and I'll reopen.

[2019-05-30 18:37] #50 closed

[2019-05-30 18:39] detrohutt commented on #48
I'm closing this for now since it's been open for almost 7 months and only has one +1. If the solution @jefflewis mentioned doesn't work for someone, and you get this same error, let me know and I'll reopen the issue.

[2019-05-30 18:39] #48 closed

[2019-05-30 18:47] #54 closed

[2019-06-07 20:54] Renaud009 commented on #52
This is really annoying, any workaround?

[2019-06-14 18:59] Sceat commented on #52
doesn't work in basic node neither

[2019-07-04 12:36] oxyii commented on #52
@mieszko4 @iamnader  `react-native start --reset-cache` works for me

[2019-07-18 02:30] iamnader commented on #52
Thanks @oxyii. For any Expo users `expo start -c` does the trick in Expo SDK >= 33

[2019-08-01 20:47] clemmy commented on #43
I have a similar issue, but I think this is also an issue with fragments coming from a `node_module`. Unfortunately, the workaround with manually prepending `../` doesn't always work.
Consider the following scenario:
[code]

Since `npm install` may dedupe the installation, then B would only exist in the `node_module` of `A`, and `C` should technically resolve `B` from `A`'s `node_modules`, but bec

[2019-08-15 08:38] lensbart opened #57 "Document `graphql` dependency requirement"
Although `graphql` will often already be installed in projects using this module, this isn’t necessarily the case (e.g. when sending queries using `graphql-request`. If `graphql` is not installed, attempting to use this module will throw the following error:

    Error: Cannot find module 'graphql/language'
    Require stack:
    (...)

which can be fixed by installing `graphql`.

[2019-08-15 08:59] lensbart commented on #57
Also, the queries need to be wrapped in `print`, imported as `{ print } from 'graphql'`

[2019-08-22 08:35] Skitionek commented on #52
`rm -rf ./node_modules/.cache/@babel`
helps at least fo babel-node

[2019-10-29 18:20] alastairpayne opened #60 "Cannot find module after upgrade to NodeJS 12"
After moving from Node 8.11.2 to Node 12.13.0 we started seeing this error for all of our gql files:

[code]
Are there any known issues with Node12 and this plugin?

[2019-10-31 15:50] GR34SE commented on #60
Have same issue, but strangely importing _graphql-tag_ package on top of the file solves that problem. Looking forward for real solution tho 😄

[2019-11-19 12:08] vitalyiegorov opened #70 "Import with TypeScript aliases gives error"
Our project uses TS alias imports and we get the following error:
`import policyQuery from '@shared/file.graphql';`
`Error: Cannot find module '@shared/file.graphql'`

Only relative imports work:
`import policyQuery from '../file.graphql';`

[2019-11-25 13:30] theWeird opened #71 "Local package imports not resolved in jest tests"
In several gql files, I use imports from local packages, holding the files for the different modules of my application.
The statements look like this:
`#import "@gqlapp/my-package/someFolder/File.graphql"`

Is there any trick to get this path resolved correctly for jest?
Building and running the app with babel and webpack works great, but as soon as I run my jest tests, I get the following error:

[2019-12-19 12:57] buesing commented on #70
Same here, but with using webpack aliases.

[2020-01-26 22:09] switz commented on #52
Been fighting this one for a while, thank you.

[2020-03-04 12:26] darkbasic commented on #34
A better solution would be the following:
[code]

It has the advantage that the imported graphql queries will have the proper `DocumentNode` type set.

[2020-06-12 10:02] LP1994 commented on #70
Yes:
![image](https://user-images.githubusercontent.com/12012671/84490957-6ffc3580-acd6-11ea-8dc9-92f49522ed98.png)
![image](https://user-images.githubusercontent.com/12012671/84490982-768aad00-acd6-11ea-9739-d12bf66103f6.png)

No:
![image](https://user-images.githubusercontent.com/12012671/84491142-aa65d280-acd6-11ea-97e1-54cc17e59cf4.png)

PS:
"gQLDir" is webpack aliases.
![image](https://user-i

[2020-06-13 03:25] LP1994 commented on #52
When using dynamic import, modifying ". Graphql" will trigger recompilation! But static import will not!

SO!!!
Recommended:
import('gQLDir/GraphQLDemo.graphql');
OR
import('../../../graphQL/GraphQLDemo.graphql');

[2020-06-13 03:26] LP1994 commented on #52
With the dynamic import I mentioned above, there is no need to use script commands to delete the cache.

[2020-06-13 03:27] LP1994 commented on #70
When using dynamic import, modifying ". Graphql" will trigger recompilation! But static import will not!

SO!!!
Recommended:
import('gQLDir/GraphQLDemo.graphql');
OR
import('../../../graphQL/GraphQLDemo.graphql');

With the dynamic import I mentioned above, there is no need to use script commands to delete the cache.

[2020-06-13 23:59] LP1994 commented on #70
Alias cannot be used with "babel-plugin-import-graphql".
But!!!
Only "graphql-tag/loader","babel-plugin-import-graphql" are not used, but aliases can be used.
{
                test: /\.(graphql|gql)$/i,
                use: [
                    {
                        loader: 'graphql-tag/loader',
                    },
                ],
            },

[2020-06-16 10:32] MLKiiwy commented on #71
I confirm this issue, the moduleNameMapper configuration of jest is not applied to `#import` commands.

[2020-06-16 10:39] MLKiiwy commented on #71
A workaround is to add another plugin to babel: https://www.npmjs.com/package/babel-plugin-module-name-mapper

[2020-08-02 06:02] prashantsingh1k99 commented on #57
Did you found the solution for this issue?

[2020-09-14 21:55] Gregoirevda opened #77 "Breaks XCode "Bundle React Native code and images" build phase"
The babel plugin throws an error in the XCode build phase "Bundle React Native code and images"

Which gives an error
iOS main.jsbundle does not exists in CI

Relates to https://github.com/facebook/react-native/issues/25522

[2020-10-05 12:17] VojtaSim commented on #60
Node 12 changed behaviour of `require.resolve` and thus importing .gql files without absolute or relative path (`./`) will fail.
I've created PR to address this issue https://github.com/detrohutt/babel-plugin-import-graphql/pull/78

[2021-01-02 16:26] detrohutt commented on #60
I merged the PR and released v2.8.1.

Closing for now. Reopen if you have any more issues.

[2021-01-02 16:26] #60 closed

[2021-02-03 12:10] timboslicecreative opened #79 "using absolute paths for importing GraphQL causes an error"
Absolute paths configuration:
[code]

Import code:
[code]

Gives the error:
[code]

If using relative import path there is no error. e.g.
[code]

I have two projects, one using version 2.8.1 and one using 2.7.0 with the same .babelrc and jsconfig.json both cannot use absolute imports with babel-plugin-import-graphql but work using relative imports.

[2021-02-15 15:37] joshuabaker commented on #79
We’ve run into this with a monorepo and cannot figure out how to get around it. Most scenarios that attempt to resolve the module path beforehand cause issues loading or transpiling.

[2021-03-09 14:33] lensbart opened #80 "Inline graphql for"
This doesn’t inline the corresponding GraphQL:

[code]

But this does:

[code]

I think it would be helpful if the GraphQL got imported in the first case, too.

Thanks!!!

[2021-04-06 11:27] GearoidCollins commented on #79
We encountered this too with out monorepo and ended up having to revert to `2.7.0`.

[2021-04-09 15:06] joshuabaker commented on #79
We tried this, but the downgrade didn’t seem to help. What’s your monorepo setup?

[2021-05-17 14:23] puchm opened #85 "Runtime option does not seem to do anything"
Hi,

what does the `runtime` option actually do? I tried it with `runtime` set to `true` and to `false` but it doesn't seem to change anything. The compiled file has the schema definition embedded as a string both times. I would have expected a different result when it is true.

This is my schema:
[code]

This is the compiled file, both when `runtime` is true and when it's false:
[code]
Importing

[2021-05-24 17:33] DomVinyard commented on #52
Dynamic import is not always an option, is there any other workaround?

[2021-06-02 11:46] davidsandoz commented on #79
I also encountered this issue in a Nuxt.js project, with version 2.8.1.

However, it happens only when running tests, for the tests that are mounting components that import graphql files.

It does not happen when building or running the project.

And even stranger, it seems to be happening only on my machine. Indeed, it does not happen when the tests are run on our CI, and it doesn't happen for a

[2021-06-06 19:10] jarrett-confrey commented on #79
from my stack trace this issue seems related to https://github.com/detrohutt/babel-plugin-import-graphql/pull/78
[code]

[2021-09-28 20:27] terion-name commented on #85
same here. and it is inlined as text instead of ast :(

[2021-10-26 01:06] shaneog opened #89 "Jest: TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined"
When testing using Jest, I receive the following error when running `babel.transform`. I am using the test code defined in the README of this plugin.
[code]

[code]

I have put together the simplest possible reproduction of this here: https://github.com/shaneog/babel-transform-graphql-example

[code]

When Babel is run manually (`npx babel test/fixtures --out-dir dist`)  the code is transpiled cor

[2021-11-09 04:47] Darfion opened #90 "src/index.ts:12:22 - error TS2307: Cannot find module './schema.graphql' or its corresponding type declarations"
hi I want to import a graphql file. but for some reason i am getting error

    \node_modules\ts-node\src\index.ts:750
        return new TSError(diagnosticText, diagnosticCodes);
               ^
    TSError: ⨯ Unable to compile TypeScript:
    src/index.ts:12:22 - error TS2307: Cannot find module './schema.graphql' or its corresponding type declarations.

    12 import typeDefs from "./schema.gr

[2021-12-05 15:39] m14253647g commented on #2
MIT License Copyright (c) [year] [fullname] Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to w

[2022-03-15 11:58] nielsmadan opened #91 "Plugin makes it impossible to import .gql.ts and .graphql.ts files"
In order to import a file with .gql.ts extension, you would omit the `.ts` part in the import statement.

Since the plugin looks at `importPath` rather than the name of the actual file, it will handle it and import it as graphql, which will fail (assuming it is a ts file).

Attaching a patch that would fix it, but of course not sure if this has other implications.

[babel-plugin-import-graphql+2.8

[2022-03-24 16:30] GiancarlosIO opened #92 "Fails when importing graphql files from node_modules"
When I try to import a graphql from a library, it gives the following error:
[code]

The import that gives the error is something like:
[code]

Is this a bug or a limitation? If it's the latter it would be good to have it documented in the readme.

Thanks!

[2022-06-30 09:18] dero commented on #79
The problem is this plugin doesn't take the set `baseUrl` into account. I worked around the issue in my project by dynamically setting the `nodePath` option to the absolute path of the `baseUrl` like this:

[code]

[2022-08-26 14:51] ajayjindal opened #94 "Non existent query in .graphql file imported in JS goes through compilation without any error"
Hello all,
I am in need of help as we are facing discrepancy with graphql usage in reactJS, which slipped through without any compilation error and caused a runtime production issue.

### scenario:
`abc.graphql`
[code]
in my ReactJS app:
`xyz.js`
[code]
### The Problem
The issue is **getFewItems** query does not exist in my graphql file and i am using it in my JS files, there is no error while com

[2022-10-27 10:20] punksta commented on #89
I am getting similar issue after upgrading react-native to 0.69.5 and babel "^7.18.6",

[2022-11-22 22:08] GiancarlosIO commented on #92
I have solved this by using the `babel-plugin-module-resolver` and transforming the library path from absolute to relative:

[code]

[2022-11-22 22:08] #92 closed

[2022-11-22 22:09] GiancarlosIO commented on #79
Just to add that you can also solve this by implementing the `babel-plugin-module-resolver`.

Example: https://github.com/detrohutt/babel-plugin-import-graphql/issues/92#issuecomment-1324297736

[2022-11-23 12:15] joshuabaker commented on #79
We ended up just using `graphql-tag` in `.js` files. I wrote [a script](https://github.com/joshuabaker/codemod-graphql-to-js) to convert them.